/*
 *
 *
 * GENERAL
 *
 *
 *
 */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap');

:root {
    --text-color: #161717;

    --pink: #f72585ff;
    --purple-1: #b5179eff;
    --purple-2: #7209b7ff;
    --purple-3: #560badff;
    --purple-4: #480ca8ff;
    --blue-5: #3a0ca3ff;
    --blue-4: #3f37c9ff;
    --blue-3: #4361eeff;
    --blue-2: #4895efff;
    --blue-1: #4cc9f0ff;
}

body {
  font-family: "Mukta", sans-serif;
  color: var(--text-color) !important;
  text-shadow: none !important;
  background: white;
  font-size: 16px;
}
a {
    color: var(--blue-4);
  text-decoration: none;
}
a:hover {
    background-image: linear-gradient(270deg, var(--purple-2), var(--pink));
    background-clip: text;
    animation: GradientAnimation 2s ease infinite;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}
b {
    font-weight: 600;
}
em {
  font-style: italic;
}
* {
  line-height: 1.5;
}
p {
 color: var(--text-color);
 font-weight: 300;
}

/*
 *
 *
 * Index
 *
 *
 *
 */

.indexWrapper {
}

.indexMainColumn {
    width: 1000px;
    max-width: 80%;
    margin: 400px auto;
}

.indexMainContent {
    display: flex;
    margin-bottom: 164px;
}
.indexMainText {
    font-size: 24px;
    line-height: 36px;
}
#dragItem, #dragItemClone {
    cursor: pointer;
}

/*
 * ME PIC
 */

.mePic {
    background: url("me.jpg");
    background-size: contain;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mePicBackground {
    width: 230px;
    height: 230px;
    border-radius: 50%;
       background: linear-gradient(90deg, var(--blue-1), var(--purple-1), var(--pink));
    background-size: 600% 600%;
    z-index: -1;
    animation: GradientAnimation 15s ease infinite;
    flex-shrink: 0;
}
@keyframes GradientAnimation {
        0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/*
 * Main Content Links
 */

.indexLinks {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  font-size: 18px;
}
.indexLinks>span {
    display: inline-flex;
    align-items: center;
}
.indexLinks>span::after {
    content: "\00b7";
    margin: 0 16px;
}
.indexLinks>span:last-child::after {
    content: "";
}
.indexLinks>span>img{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/*
 * Index Secondary Content
 */

.smallColumn {
    width: 60%;
    margin: 0 auto;
}

.indexSectionHeader {
    display: flex;
    align-items: center;
  font-size: 24px;
  font-weight: 300;
    margin-bottom: 32px;
}

.indexSectionHeaderSquare {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 16px;
}
.indexSectionHeaderSquare.purple {
    background-color: var(--purple-1);
}

/*
 * Index Projects Section
 */
.indexProject {
    margin-bottom: 24px;
}
.indexProject a {
    margin-left: 8px;
    font-size: 22px;
    font-weight: 500;
}
.indexProject p {
    margin-top: 12px;
}



/*
 *
 *
 * MOST RECENT COMMIT
 *
 *
 *
 */
.mostRecentCommit {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}
.mostRecentCommit p {
  padding-left: 8px;
}
.mostRecentCommit img {
  width: 20px;
}
.mostRecentCommit .repo {
  font-weight: bold;
}
.mostRecentCommit .message,
.repo a {
  text-decoration: none;
}
.mostRecentCommit .message,
.repo a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
.mostRecentCommit .date {
  font-size: 0.9em;
}

/*
 *
 *
 * GAMES PAGE
 *
 *
 *
 */
.gamesList {
  margin-top: 48px;
}
.gamesListItem {
  margin-bottom: 12px;
}
.gamesListItem > div {
  display: inline-block;
}
.gamesListItemPosition {
  display: inline-block;
  margin-right: 24px;
  font-size: 44px;
  width: 52px;
  text-align: right;
}
.gamesListItemName {
  margin-right: 12px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}
.gamesListItemDetails {
  font-size: 13px;
  margin-top: 8px;
  color: lightslategrey;
}
.gamesListItem img {
  width: 36px;
  display: inline-block;
  margin-right: 12px;
}

