@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap');

:root {
    --text-color: #161717;
}

body {
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  color: black !important;
  text-shadow: none !important;
  background: white;
}

a {
  color: #99ccff;
}
b {
    font-weight: 600;
}

ol,
ul {
  list-style: none;
  li {
    padding: 5px 0;
  }
}

em {
  font-style: italic;
}

* {
  line-height: 1.5;
}

p {
 color: var(--text-color);
 font-weight: 300;
}

.indexWrapper {
}

.indexMain {
    width: 1000px;
    max-width: 80%;
    margin: 400px auto;
    display: flex;
}
.indexMainText {
    font-size: 24px;
    line-height: 36px;

}
#dragItem, #dragItemClone {
    cursor: pointer;
}

.mePic {
    background: url("me.jpg");
    background-size: contain;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mePicBackground {
    width: 230px;
    height: 230px;
    border-radius: 50%;
       background: linear-gradient(270deg, #44ffef, #ffea49, #68ff93);
    background-size: 600% 600%;
    z-index: -1;
    animation: MePicBackgroundAnimation 15s ease infinite;
    flex-shrink: 0;
}
@keyframes MePicBackgroundAnimation {
        0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.mostRecentCommit {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}
.mostRecentCommit p {
  padding-left: 8px;
}
.mostRecentCommit img {
  width: 20px;
}
.mostRecentCommit .repo {
  font-weight: bold;
}
.mostRecentCommit .message,
.repo a {
  text-decoration: none;
}
.mostRecentCommit .message,
.repo a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
.mostRecentCommit .date {
  font-size: 0.9em;
}

.gamesList {
  margin-top: 48px;
}
.gamesListItem {
  margin-bottom: 12px;
}
.gamesListItem > div {
  display: inline-block;
}
.gamesListItemPosition {
  display: inline-block;
  margin-right: 24px;
  font-size: 44px;
  width: 52px;
  text-align: right;
}
.gamesListItemName {
  margin-right: 12px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}
.gamesListItemDetails {
  font-size: 13px;
  margin-top: 8px;
  color: lightslategrey;
}
.gamesListItem img {
  width: 36px;
  display: inline-block;
  margin-right: 12px;
}
