body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: white !important;
  text-shadow: none !important;
  background: #00091a;
}
a {
  color: #99ccff;
}

ol,
ul {
  list-style: none;
  li {
    padding: 5px 0;
  }
}

em {
  font-style: italic;
}

* {
  line-height: 1.5;
}

.indexWrapper {
  color: white;
  text-shadow: none !important;
}
a {
  color: white;
}

.indexWrapper {
  margin: 100px auto;
  max-width: 80%;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0;
}

.indexSection {
  margin-top: 20px;
  margin-bottom: 20px;
}

.indexSection > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  margin-top: 10px;
  margin-bottom: 10px;
}
.header.xsmall {
  font-size: 16px;
  font-weight: 600;
}
.header.small {
  font-size: 20px;
  font-weight: 500;
}
.header.medium {
  font-size: 32px;
  font-weight: 600;
}
.header.large {
  font-size: 48px;
}

.mostRecentCommit {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}
.mostRecentCommit p {
  padding-left: 8px;
}
.mostRecentCommit img {
  width: 20px;
}
.mostRecentCommit .repo {
  font-weight: bold;
}
.mostRecentCommit .message,
.repo a {
  text-decoration: none;
}
.mostRecentCommit .message,
.repo a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
.mostRecentCommit .date {
  font-size: 0.9em;
}

.gamesList {
  margin-top: 48px;
}
.gamesListItem {
  margin-bottom: 12px;
}
.gamesListItem > div {
  display: inline-block;
}
.gamesListItemPosition {
  display: inline-block;
  margin-right: 24px;
  font-size: 44px;
  width: 52px;
  text-align: right;
}
.gamesListItemName {
  margin-right: 12px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}
.gamesListItemDetails {
  font-size: 13px;
  margin-top: 8px;
  color: lightslategrey;
}
.gamesListItem img {
  width: 36px;
  display: inline-block;
  margin-right: 12px;
}
